[% WRAPPER wrapper.tt
   title = dist.name _ ' Tests'
%]

<ul class="test_[% IF report.has_problems %]not_ok[% ELSE %]ok[% END %]">
  <li>Test Summary: [% report.percent_passed %]% ok
  <li>passed [% report.passed %]/[% report.total %] tests in [% report.num_fils %] files</li>
</ul>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Test file</th>
      <th>Test results</th>
      <th>Time</th>
      <th>%</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td>[% report.num_files %] files</td>
      <td>
        [% report.total %] tests,
        [% report.passed %] ok,
        [% report.failed %] failed,
        [% report.todo %] todo,
        [% report.skipped %] skipped,
        [% report.parse_errors %] parse errors<br/>
        exit status: [% report.exit %],
        wait status: [% report.wait %]<br/>
        elapsed time: [% report.elapsed_time | trim %]</td>
      <td>[% report.total_time | format('%.2fs') %]</td>
      <td>[% report.percent_passed %]%</td>
    </tr>
  </tfoot>
  
  <tbody>
    [%- FOREACH test IN report.tests %]
      <tr>
        <td class="test_[% IF test.has_problems %]not_ok[% ELSE %]ok[% END %]">[% test.test %]</td>
        <td>
          <pre>[%- FOREACH result IN test.results %]<span class="test_[% result.type %] test_[% IF result.is_ok %]ok[% ELSE %]not_ok[% END %]">[% result.as_string | html %]</span>[% "\n" %][% END %]</pre>
          <ul>
            [% FOREACH error IN test.parse_errors %]
              <li class="test_not_ok">[% error %]</li>
            [% END %]
            [% IF test.exit %]<li class="test_not_ok">exit: [% test.exit %]</li>[% END %]
          </ul>
        </td>
        <td>[% test.elapsed_time | format('%.2fs') %]</td>
        <td class="test_[% IF test.percent_passed AND test.percent_passed != '100.0' %]not_ok[% ELSE %]ok[% END %]">[% test.percent_passed ? test.percent_passed _ '%' : 'n/a' %]</td>
      </tr>
    [%- END %]
  </tbody>
</table>

<p>Generated by [% formatter.class %] v[% formatter.version %] @ [% USE date %][% date.format %]</p>

[% END %]
