[% WRAPPER wrapper.tt
   title = dist.name _ ' Tests'
%]

<ul>
  <li>Test Summary: [% report.percent_passed %]% ok
  [% IF report.severity %]
  <li>Severity:     [% report.severity %]
  [% END %]
  <li>passed [% report.passed %]/[% report.total %] tests in [% report.num_fils %] files</li>
  <li>total time: [% report.total_time | format('%.2fs') %]</li>
</ul>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Test file</th>
      <th>Test results</th>
      <th>Time</th>
      <th>%</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td>[% report.num_files %] files</td>
      <td>
        [% report.total %] tests,
        [% report.passed %] ok,
        [% report.failed %] failed,
        [% report.todo %] todo,
        [% report.skipped %] skipped,
        [% report.parse_errors %] parse errors<br/>
        exit status: [% report.exit %],
        wait status: [% report.wait %]<br/>
        elapsed time: [% report.elapsed_time | trim %]</td>
      <td>[% report.total_time | format('%.2fs') %]</td>
      <td>[% report.percent_passed %]%</td>
    </tr>
  </tfoot>
  
  <tbody>
    [%- FOREACH test IN report.tests %]
      <tr>
        <td>[% test.test %]</td>
        <td>
          <pre>[%- FOREACH result IN test.results %]<span>[% result.as_string | html %]</span>[% "\n" %][% END %]</pre>
        </td>
        <td>[% test.elapsed_time | format('%.2fs') %]</td>
        <td>[% test.percent_passed ? test.percent_passed _ '%' : 'n/a' %]</td>
      </tr>
    [%- END %]
  </tbody>
</table>

<p>Generated by [% formatter.class %] v[% formatter.version %] @ [% USE date %][% date.format %]</p>

[% END %]
